<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список поставщиков</title>
</head>
<body>
<div th:insert="blocks/header"></div>

<h1>Список поставщиков</h1>
<form action="#" th:action="@{/suppliers}" method="post" th:object="${supplier}">
    <input type="text" th:field="*{supplierName}" placeholder="Название поставщика" required />
    <div th:if="${#fields.hasErrors('supplierName')}" style="color:red;">
        <span th:errors="*{supplierName}"></span>
    </div>
    <input type="text" th:field="*{supplierAddress}" placeholder="Адрес поставщика" required />
    <div th:if="${#fields.hasErrors('supplierAddress')}" style="color:red;">
        <span th:errors="*{supplierAddress}"></span>
    </div>
    <input type="text" th:field="*{supplierPhone}" placeholder="Телефон поставщика" required />

    <div th:if="${#fields.hasErrors('supplierPhone')}" style="color:red;">
        <span th:errors="*{supplierPhone}"></span>
    </div>
    <input type="email" th:field="*{supplierEmail}" placeholder="Email поставщика" required />
    <div th:if="${#fields.hasErrors('supplierEmail')}" style="color:red;">
        <span th:errors="*{supplierEmail}"></span>
    </div>
    <label for="country">Страна:</label>
    <select th:field="*{country.id}" id="country" required>
        <option value="" disabled selected>Выберите страну</option>
        <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
    </select>

    <button type="submit">Добавить поставщика</button>
</form>

<h2>Существующие поставщики:</h2>
<ul>
    <li th:each="supplier : ${suppliers}">
        <span th:text="${supplier.supplierName}">Название поставщика</span> -
        <span th:text="${supplier.supplierAddress}">Адрес поставщика</span> -
        <span th:text="${supplier.supplierPhone}">Телефон поставщика</span> -
        <span th:text="${supplier.supplierEmail}">Email поставщика</span> -
        <span th:text="${supplier.country != null ? supplier.country.name : 'Unknown'}">Страна</span>
        <a th:href="@{/suppliers/edit/{id}(id=${supplier.id})}">Редактировать</a>
        <a th:href="@{/suppliers/delete/{id}(id=${supplier.id})}" onclick="return confirm('Вы уверены, что хотите удалить?');">Удалить</a>
    </li>
</ul>
</body>
</html>
