<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="blocks/header"></div>

<h1>Список категорий</h1>
<form action="#" th:action="@{/categories}" method="post" th:object="${category}">
  <input type="text" th:field="*{name}" placeholder="Название категории" required />
  <div th:if="${#fields.hasErrors('name')}" style="color:red;">
    <span th:errors="*{name}"></span>
  </div>
  <button type="submit">Добавить категорию</button>
</form>

<h2>Существующие категории:</h2>
<ul>
  <li th:each="category : ${categories}">
    <span th:text="${category.name}">Название категории</span>
    <a th:href="@{/categories/edit/{id}(id=${category.id})}">Редактировать</a>
    <a th:href="@{/categories/delete/{id}(id=${category.id})}" onclick="return confirm('Вы уверены, что хотите удалить?');">Удалить</a>
  </li>
</ul>
</body>
</html>